version: "3"

services:
  postgres:
    image: postgres
    ports:
      - 5430:5432
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_PORT=5430
      - POSTGRES_USER=myusername
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=schedule_db
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    # networks:
    #   - test

volumes:
  postgres_volume:
    external: false